
<div class="row">
<div class="col-md-8">
  <h2 appMakeBorder>School Info</h2>
  <ul>
    <li>Name: {{currentSchool?.name}}</li>
    <li>Addr: {{currentSchool?.address}}</li>
    <li>Capacity: {{schoolStuNo}}</li>
    <li>List of students:</li>
  </ul>
  <table class="table table-striped">
    <tr>
        <th>Student Name</th>
        <th>Student Address</th>
        <th>Student Age</th>      
        <th>Actions</th>
    </tr>
    <tr *ngFor="let student of schoolStudents">
        <td>{{student?.name}}</td>
        <td>{{student?.addr}}</td>
        <td>{{student?.age}}</td> 
        <td>

            <button class="btn btn-danger" (click)="deleteStudent(currentSchool._id,student._id)">Del</button>  
        </td>

    </tr>
  </table>

</div>
<div class="col-md-4">
  <app-new-student-form schoolId="currentSchool?._id" (saveStudent)="addStudent($event)"></app-new-student-form>
</div>
</div>
